<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>The Unhackable News - damages
        </title>
        <link  href="css/styles.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=robotto&effect=anaglyph" rel="stylesheet">
    </head>
    <body>
    <%- include('partials/header.ejs') %>
        <h2>Damages done by My.Doom</h2>
        <main>
            
            <figure>
                <img id="profilePic" src="https://media1.tenor.com/images/69ac31097fb39f2c2578f00f7244f368/tenor.gif?itemid=10358473" alt="mydoom" width="420">
                <br>
                 <p> Since you clicked on this link,<br> The Hacker News Thanks you for your Donation <%= symbol %> <%= amount %> <br> to the BTC Wallet:<%= btc %> 
                 <br> You Will always be 💯 in our eyes! 🥰</p>
                
            </figure>
            <div id="intro">
                <h3>mydoom is dubbed the worst Computer virus in history.</h3>
                <p>
                Mydoom caused estimated damage of $38 billion in 2004, ajusted for inflation for today is over 50 Billion Dollars.
                </p>
                <p>Mydoom is still around today, generating 1% of all phishing emails.</p>
                <p>The developer of this dangerous computer worm was never caught.</p>
                <hr>
                               
            </div>
            

        </main>
        

<%- include('partials/footer.ejs') %>


        
    </body>

</html>
